.fade-animation {
  opacity: 0;
  animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
  0%,
  10% {
    transform: translateY(2%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.bounce-animation:hover {
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }
}
