@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
}

.gradient {
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}

.gradient--underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #40e0d0, #ff8c00, #ff0080);
}

.gradient--border:hover {
  border: solid 1px transparent;
  background-image: linear-gradient(
      theme("colors.gray.dark"),
      theme("colors.gray.dark")
    ),
    var(--gradient);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.gradient--border:active {
  border: solid 1px theme("colors.gray.light");
  color: theme("colors.gray.dark");
  background-color: theme("colors.gray.light");
  background-image: none;
}
