.timelineEvent::before {
  position: relative;
  display: inline-block;
  left: -2rem;
  top: 1.8rem;
  content: "";
  width: 15px;
  height: 15px;
  background-color: var(--gray-dark);
  border: 1px solid var(--gray-light);
  border-radius: 50%;
}

.timelineEvent:first-child::before {
  background-color: var(--gray-light);
}
